* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 100vh; /* Full screen height */
  width: 100%;    /* Full width */
  
  /* Background image */
  background-image: url('./images/orlando-morning.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  /* flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  /* font color */
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.locations-container {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  height: 100vh; /* Full screen height */
  width: 100%;    /* Full width */
  gap: 50px;
  background: #eee; /* to see the container */
}

.center {
  width: 30rem; /* or auto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.image-size{

  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
footer{
  height: 100vh; /* Full screen height */
  width: 100%;    /* Full width */
}